<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": {{ .Title | jsonify }},
  "description": {{ with .Params.description }}{{ . | jsonify }}{{ else }}{{ .Site.Params.description | jsonify }}{{ end }},
  "provider": {
    "@id": {{ printf "%s#business" .Site.BaseURL | jsonify }}
  },
  "areaServed": [
    {{ range $i, $area := .Site.Params.serviceAreas }}{{ if $i }},{{ end }}
    { "@type": "City", "name": {{ $area.name | jsonify }} }{{ end }}
  ],
  "url": {{ .Permalink | jsonify }}
}
</script>
