{{- $areas := slice -}}
{{- range .Site.Params.serviceAreas -}}
  {{- $areas = $areas | append (dict "@type" "City" "name" .name) -}}
{{- end -}}
{{- $desc := .Params.description | default .Site.Params.description -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Service"
  "name" .Title
  "description" $desc
  "provider" (dict "@id" (printf "%s#business" .Site.BaseURL))
  "areaServed" $areas
  "url" .Permalink -}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
